<form class="" action="/addcontact" method="post">
  <fieldset>
    <legend>Adding your contact</legend>
    <input type='text' name='first_name' ><br>
    <input type='text' name='last_name' ><br>
    <input type='text' name='email' ><br>
    <input type='text' name='note' ><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
</nav>
<h2 class="mycontacts">My Contacts: <span class='number'><%= @contacts.size %></span></h2>
<ul>
  <% @contacts.each do |contact| %>
  <li class="contacts">
    <span class='info'><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</span><br>
    <a href="/contacts/<%= contact.id %>" class='edit/delete'>Edit</a> | <a href="#" class='edit/delete'>Delete</a>

  </li>
  <% end %>
</ul>
