</nav>
<h2 class="mycontacts">My Contacts: <span class='number'><%= @contacts.size %></span></h2>
<ul>
  <% @contacts.each do |contact| %>
  <li class="contacts">
    <span class='info'><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</span><br>
    <form class="" action="/delete/<%= contact.id %>" method="post">
      <a href="/contacts/<%= contact.id %>" class='edit/delete'>Edit</a> |
      <input type="hidden" name="_method" value="delete">
      <input type="submit" class="deletec" name="delete-contact" value="Delete">
    </form>
  </li>
  <% end %>
</ul>
